

$font: 'Roboto Slab', serif;

$cream: rgb(213, 211, 194);
$cream_hover: rgb(245, 243, 226);

$dusk: rgb(24, 27, 38);
$dusk_hover: rgb(37, 41, 58);

$purple: rgb(96, 48, 178);
$red: rgb(228, 142, 139);
$red_hover: rgb(255, 188, 185);
$blue: rgb(148, 178, 233);